* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  word-spacing: 1rem;
  color: white;
  font-family: sans-serif;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    to right,
    rgb(166, 240, 241, 1),
    rgb(238, 169, 216, 1)
  );
  height: 15rem;
  width: 90%;
  box-shadow: 0 0 10px gray;
}
header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
input#number {
  width: 25%;
  height: 2.5rem;
  padding-left: 1%;
  font-size: 18px;
}
#btn {
  height: 3rem;
  cursor: pointer;
  border-radius: 30px;
  min-width:5rem;
  color: black;
  border-color: transparent;
  font-weight: 900;
  width: 10%;
  text-align: center;
  box-shadow: 0 0 25px white;
}
#btn:focus {
  outline: none;
}
#counter {
  background-color: rgb(85, 85, 85);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  width: 75%;
  box-shadow: 0 0 10px gray;
  margin-top: 3%;
}
#display {
  width: 15%;
  max-width: 80px;
  height: 80px;
  position: relative;
  box-shadow: 0 0 10px white;
  overflow: hidden;
}
#display p {
  background-color: white;
  color: black;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  line-height: 80px;
  height: auto;
  border-top: 2px solid black;
}
p.next {
  position: absolute;
  top: 80px;
}
p.animate {
  position: absolute;
  transition-duration: 0.5s;
  top: 0px;
}
